* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;          
    font-family: 'Poppins', sans-serif; 
    color: #333333;                     
    font-size: 16px;
    line-height: 1.6;
}
header {
    background-color: #f4c2a1;
    text-align: center;
    padding: 20px;
}
header h1{
    font-size: 2rem;
}
nav {
    background-color: #d18b47;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #000000;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8b5a2b;
}

h3 {
    margin-top: 15px;
    color: #8b5a2b;
}

p {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #555555;
}

strong {
    color: #d18b47;
}
.contatos-botoes {
    margin-bottom: 20px;
    text-align: center;
}
.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.btn img {
    width: 24px;
    height: 24px;
}
.whatsapp {
    background-color: #25d366;
}
.instagram {
    background-color: #e1306c;
}
.facebook {
    background-color: #1877f2;
}
.btn:hover {
    opacity: 0.85;
}
footer {
    background-color: #f4c2a1;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}
