* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    font-family: 'Poppins' sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0.5rem;
}
header {
    background-color: #f4c2a1;
    text-align: center;
    padding: 20px;
}
header img {
    width: 90px;
    max-width: 300px;
    border-radius: 10px;
}
header h1{
    margin-top: 10px;
    font-size: 2rem;
}
header p {
    font-size: 1rem;
    color: #555;
}
nav {
    background-color: #d18b47;
    padding: 10px;
    text-decoration: none;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    color: #000000; 
}
main {
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
main h2 {
    text-align: center;
    margin-bottom: 20px;
}
main h3 {
    margin-top: 10px;
}
main p{
    margin-bottom: 15px;
}
main img{
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}
footer {
    background-color: #f4c2a1;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}